In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv("D:/Data Science/Symbiosis/Polynomial Regression/housing.csv")
df.head()

      RM  LSTAT  PTRATIO    MEDV
0  6.575   4.98     15.3  504000
1  6.421   9.14     17.8  453600
2  7.185   4.03     17.8  728700
3  6.998   2.94     18.7  701400
4  7.147   5.33     18.7  760200

In [3]:
df.isnull().sum()

RM         0
LSTAT      0
PTRATIO    0
MEDV       0
dtype: int64

In [4]:
x=df.drop(columns=["MEDV"])
y=df["MEDV"]

In [5]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2,random_state=0)

In [8]:
#GradientBoostRegression
from sklearn.ensemble import GradientBoostingRegressor
model=GradientBoostingRegressor()
model.fit(xtrain,ytrain)
ypred=model.predict(xtest)

In [10]:
pd.DataFrame({"Actual":ytest,"Predicted":ypred})

     Actual      Predicted
15   417900  429673.058524
250  632100  685382.009447
142  281400  340502.368467
392  577500  258337.853833
90   474600  500041.656832
..      ...            ...
443  344400  330854.265565
246  459900  498455.589310
300  464100  494135.762775
485  432600  454169.234797
171  617400  558556.764346

[98 rows x 2 columns]

In [13]:
from sklearn.metrics import r2_score
print("R squared:",model.score(xtrain,ytrain))

R squared: 0.9416654127850671

In [15]:
#GradientBoostRegression
from sklearn.ensemble import GradientBoostingRegressor
model=GradientBoostingRegressor(n_estimators=100,learning_rate=0.2,criterion="mse",max_depth=3)
model.fit(xtrain,ytrain)
ypred=model.predict(xtest)

In [16]:
pd.DataFrame({"Actual":ytest,"Predicted":ypred})

     Actual      Predicted
15   417900  419786.021095
250  632100  674714.865482
142  281400  328040.303418
392  577500  271921.804933
90   474600  499449.051377
..      ...            ...
443  344400  316190.892633
246  459900  509087.186626
300  464100  490443.977441
485  432600  446258.690903
171  617400  565950.444096

[98 rows x 2 columns]

In [17]:
from sklearn.metrics import r2_score
print("R squared:",model.score(xtrain,ytrain))

R squared: 0.9676789510358732