In [1]:
for i in range(1, 6):
    print(i)

1
2
3
4
5

In [2]:
i = 0
while i < 6:
    #print(i)
    i =  i + 1
    print(i)
print('Exit loop')

1
2
3
4
5
6
Exit loop

In [3]:
i = 1
while i < 6:
    print(i)
    if i == 3:
        break
    #print(i)
    i =  i + 1
print("Exit due to break")

1
2
3
Exit due to break

In [4]:
i

3

In [5]:
i = 0
while i < 6:
    i =  i + 1
    if i == 3:
        continue
        #continue
    print(i)

1
2
4
5
6

In [6]:
i = 1
while i < 6:
    print(i)
    i =  i + 1
else:
    print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [7]:
i = 1
while i<=10:
    print('Hello')
    #print(i)
    i = i+1

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [8]:
i = 1
while i<5:
    pass
    i = i+1

In [9]:
i

5

In [10]:
for i in 'apple':
    print(i)

a
p
p
l
e

In [11]:
#for(i = 1; i<10; i++)
#range(start,stop,step)
for i in range(1,12,2):
    print(i)

1
3
5
7
9
11

In [12]:
a= range(10)

In [13]:
print(a)

range(0, 10)

In [14]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    #print(x)       
    print('hello')

hello
hello
hello

In [15]:
l = [1,2,3,3,4,5,5,6,6.,5]
l[::2]

[1, 3, 4, 5, 6.0]

In [16]:
f = ['apple','banana', 'cherry', 'mango', 'watermelon','kiwi'
    ]
f[::2]

['apple', 'cherry', 'watermelon']

In [17]:
for x in "banana":
    print(x, end = "  ")
    #print('hello')

b  a  n  a  n  a

In [18]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x) 
    if x == "banana":
        break

apple
banana

In [19]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
        break
    print(x)

apple

In [20]:
a = range(6)
print(a)
for i in a:
    print(i)

range(0, 6)
0
1
2
3
4
5

In [21]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
        continue
    print('Hello')

Hello
Hello

In [22]:
for x in range(1,10,2):
    print(x)

1
3
5
7
9

In [23]:
for x in range(2, 30, 1):
    
    if x==15:
        continue
    print(x, end = "   ")

2   3   4   5   6   7   8   9   10   11   12   13   14   16   17   18   19   20   21   22   23   24   25   26   27   28   29

In [24]:
for x in range(5):
    pass

In [25]:
x

4

In [26]:
for x in range(6):
    pass
else:
    print("Finally finished!")

Finally finished!

In [27]:
x

5

In [28]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]
for x in adj:
    for y in fruits:
        print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [29]:
# Program to print squares of all numbers present in a list

# List of integer numbers
numbers = [1, 2, 4, 6, 11, 20]

# variable to store the square of each num temporary
sq = 0
count = 0
# iterating over the given list
for val in numbers:
    # calculating square of each number
    sq = val * val
    # displaying the squares
    print(sq)
    # To update list with square values uncomment below lines
    #numbers[count] = sq
    #count = count +1

1
4
16
36
121
400

In [30]:
numbers

[1, 2, 4, 6, 11, 20]

In [31]:
# Python program to illustrate 
# Iterating over a list 
print("List Iteration") 
l = ["Python", "for", "Data Science"] 
for i in l: 
    print(i) 
       
# Iterating over a tuple (immutable) 
print("\nTuple Iteration") 
t = ("Python", "for", "Machine Learning") 
for i in t: 
    print(i) 
       
# Iterating over a String 
print("\nString Iteration")     
s = "Hello"
for i in s : 
    print(i, end = "    ") 
       
# Iterating over dictionary 
print("\nDictionary Iteration")    
d = dict()  
d['xyz'] = 123
d['abc'] = 345
for i in d : 
    print("%s  %d" %(i, d[i]))

List Iteration
Python
for
Data Science

Tuple Iteration
Python
for
Machine Learning

String Iteration
H    e    l    l    o
Dictionary Iteration
xyz  123
abc  345

In [ ]:
# Python program to illustrate  
# nested for loops in Python 

1 
2 2 
3 3 3 
4 4 4 4

In [38]:
for i in range(1, 5): 
    for j in range(i): 
         print(i, end=' ') 
    print()

1
2 2
3 3 3
4 4 4 4

In [39]:
# An empty loop 
for letter in 'HelloAll': 
    
    pass
    if letter=="A":
        #continue
        break
print ('Last Letter :', letter)

Last Letter : A

In [40]:
# Pringt Squareof all elements in the list
num=[2,4,6,8]
i=0
n=len(num)
while i<n:
    print(num[i]**2)
    i=i+1

4
16
36
64

In [41]:
#use a for loop over a collection
Months = ["Jan","Feb","Mar","April","May","June"]
for m in Months:
    print (m)

# use the break and continue statements
for x in range (10,20):
    if (x == 15): break
    if (x % 2 == 0) : continue
    print(x)

Jan
Feb
Mar
April
May
June
11
13

Machine Learning Engineer
========================================

In [ ]:
for i in range(21): 
    print('=', end='')

=====================

In [ ]:
print('========================================')

========================================

In [ ]:
print('='*20)

====================

In [ ]:
print('='+'20')

=20

Write a Python program to print the following patterns
![image.png](attachment:image.png)