# SETS

A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table

In [48]:
## Defining an empy set

set_var= set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [49]:
set_var={1,2,3,4,3}

In [50]:
set_var

{1, 2, 3, 4}

In [51]:
set_var={"Avengers","IronMan",'Hitman'}
print(set_var)
type(set_var)

{'Avengers', 'Hitman', 'IronMan'}

set

In [52]:
## Inbuilt function in sets

set_var.add("Hulk")

In [53]:
print(set_var)

{'Avengers', 'Hitman', 'IronMan', 'Hulk'}

In [59]:
set1={"Avengers","IronMan",'Hitman'}
set2={"Avengers","IronMan",'Hitman','Hulk2'}

In [60]:
set2.intersection_update(set1)

In [61]:
set2

{'Avengers', 'Hitman', 'IronMan'}

In [62]:
##Difference 
set2.difference(set1)

set()

In [58]:

set2

{'Avengers', 'Hitman', 'IronMan'}

In [5]:
%%time
# set of integers
my_set = {1,5,7,0,3,4, 3, 3 ,3 }
print(my_set)

# set of mixed datatypes
my_set = {1.0, "Hello", (1, 2, 3)}
print(my_set)

{0, 1, 3, 4, 5, 7}
{1.0, (1, 2, 3), 'Hello'}
Wall time: 0 ns

In [6]:
my_set = {'a', 'r', 'e', 'i', 'i'}
print(my_set)
## not possible to check details or occurance of the element
a=list(my_set)
a

{'a', 'e', 'r', 'i'}

['a', 'e', 'r', 'i']

In [7]:
str = 'kfkfk'

In [8]:
my_set

{'a', 'e', 'i', 'r'}

In [9]:
# initialize my_set
my_set = {1,2,3}
print(my_set)

{1, 2, 3}

In [10]:
# initialize my_set
my_set = {1,2,3}
print(my_set)

# if you uncomment line 9,
# you will get an error
# TypeError: 'set' object does not support indexing

#my_set[0]

# add an element
# Output: {1, 2, 3}
my_set.add('hi')
print(my_set)

# add multiple elements

my_set.update([2,3,10])
print(my_set)

# add list and set
# Output: {1, 2, 3, 4, 5, 6, 8}
my_set.update([4,5], {1,6,8})
print(my_set)

my_set.add('hi')
print(my_set)

{1, 2, 3}
{1, 2, 3, 'hi'}
{1, 2, 3, 'hi', 10}
{1, 2, 3, 4, 5, 6, 'hi', 8, 10}
{1, 2, 3, 4, 5, 6, 'hi', 8, 10}

In [12]:
l = [1,2,3]
s = set(l)
s

{1, 2, 3}

In [13]:
s1 = frozenset(l)
s1

frozenset({1, 2, 3})

In [14]:
# initialize my_set
my_set = {1, 3, 4, 5, 6,(1,2)}
print(my_set)

{1, 3, 4, 5, 6, (1, 2)}

In [15]:
my_set

{(1, 2), 1, 3, 4, 5, 6}

In [20]:
# remove elements from a set
# A particular item can be removed from set using methods, 
# discard() and remove().

# The only difference between the two is that, while using discard() 
# if the item does not exist in the set, it remains unchanged. 
# But remove() will raise an error in such condition.

In [16]:
# discard an element
my_set.discard(4)
print(my_set)

{1, 3, 5, 6, (1, 2)}

In [18]:
# discard an element
my_set.discard(7)
print(my_set)

{1, 5, 6, (1, 2)}

In [17]:
# remove an element
my_set.remove(3)
print(my_set)

{1, 5, 6, (1, 2)}

In [19]:
# remove an element
my_set.remove(7)
print(my_set)

KeyError: 7

In [21]:
# pop() and clear()
# initialize my_set
# Output: set of unique elements
my_set = set("HelloWorld")
my_set

{'H', 'W', 'd', 'e', 'l', 'o', 'r'}

In [22]:
my_set1 = frozenset("HelloWorld")

In [23]:
my_set1

frozenset({'H', 'W', 'd', 'e', 'l', 'o', 'r'})

In [24]:
# pop element

In [27]:
# pop an element
print(my_set.pop(4))

TypeError: pop() takes no arguments (1 given)

In [28]:
# Python Set Operations
# UNION
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8,'a'}

In [29]:
print(A | B)

{'a', 1, 2, 3, 4, 5, 6, 7, 8}

In [30]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8, 'a'}

In [31]:
B.union(A)

{1, 2, 3, 4, 5, 6, 7, 8, 'a'}

In [32]:
# INTERSECTION
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}
#B = {6, 7, 8}  This will return empy set as no common values

# use & operator
# Output: {4, 5}
print(A & B)

{4, 5}

In [33]:
A.intersection(B)

{4, 5}

In [34]:
B.intersection(A)

{4, 5}

In [35]:
# Set Difference
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# use - operator on A
# Output: {1, 2, 3}
print(A - B)

{1, 2, 3}

In [37]:
A.difference(B)

{1, 2, 3}

In [36]:
print(B - A)

{8, 6, 7}

In [38]:
B.difference(A)

{6, 7, 8}

In [39]:
A | B

{1, 2, 3, 4, 5, 6, 7, 8}

In [40]:
# (A|B)- (A&B) 
#Set Symmetric Difference
# Symmetric Difference of A and B is a set of elements in both A and B 
# except those that are common in both.
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}
print(A|B)
print(A&B)
print(A ^ B)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3, 6, 7, 8}

In [41]:
B ^ A

{1, 2, 3, 6, 7, 8}

In [42]:
a = set('apple')
a

{'a', 'e', 'l', 'p'}

In [43]:
# Iterating Through a Set
for letter in set("apple"):
     print(letter)

a
p
e
l

In [44]:
A

{1, 2, 3, 4, 5}

In [45]:
for letter in A:
     print(letter, end = '  #  ')

1  #  2  #  3  #  4  #  5  #

In [46]:
set("apple")

{'a', 'e', 'l', 'p'}

In [47]:
A = {1, 2, 3, 4, 5}
B = {4, 5}
c = {1,3,2}
print(c.issubset(A))
print(A.issuperset(B))
print(A.issubset(B))

True
True
False